body {
  background: #920a0a;
  text-align: center;
}
body form {
  background: #b01717;
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
